<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>同人誌</string>
		<key>url</key>
		<string>f_doujinshi=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>漫畫</string>
		<key>url</key>
		<string>f_manga=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>藝術CG</string>
		<key>url</key>
		<string>f_artistcg=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>遊戲CG</string>
		<key>url</key>
		<string>f_gamecg=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美式</string>
		<key>url</key>
		<string>f_western=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>一般向</string>
		<key>url</key>
		<string>f_non-h=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>圖片集</string>
		<key>url</key>
		<string>f_imageset=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Cosplay</string>
		<key>url</key>
		<string>f_cosplay=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>亞洲情色</string>
		<key>url</key>
		<string>f_asianporn=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他</string>
		<key>url</key>
		<string>f_misc=1</string>
	</dict>
</array>
</plist>
